@import url('https://fonts.googleapis.com/css?family=Roboto');



* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url(../img/solid-woodpane-2.png);
	height: 600px;
	font-family: 'Roboto', sans-serif;
	
	justify-content: center;
}

.container {
	display: flex;
	justify-content: space-around;
}

.img_block {
	width: 100%;
	height: 100px;
	background-image: url(../img/Aslan.jpg);
	background-size: contain;
	background-repeat: round;	
}

.card {
	border: 2px solid #000;
	border-radius: 5px;
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
	width: 110px;
}

.links_block {
	width: 25px;
	height: 25px;
	margin-top: 5%;
	margin-bottom: 5%;
}

.child_width {
	width: 100%;
}

.title_block {
	margin-top: 5%;
	text-align: center
}




